# Xcode
## Build generated
build/
DerivedData/ 
## Various settings
*.pbxuser
xcuserdata/

*.xcuserstate

BodyLife4Mobile.xcworkspace/xcuserdata/daviddiegogomez.xcuserdatad/UserInterfaceState.xcuserstate