# Xcode
## Build generated
build/
DerivedData/ 
## Various settings
*.pbxuser
xcuserdata/

*.xcuserstate

BodyLife4Mobile.xcworkspace/xcuserdata/daviddiegogomez.xcuserdatad/UserInterfaceState.xcuserstate

Pods/Pods.xcodeproj/xcuserdata/daviddiegogomez.xcuserdatad/xcschemes/xcschememanagement.plist

Common/Common.xcodeproj/xcuserdata/daviddiegogomez.xcuserdatad/xcschemes/xcschememanagement.plist

*.DS_Store