<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083271446824-lvuvnn0i4pg2qjhm10lm9v7527hqlgo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083271446824-lvuvnn0i4pg2qjhm10lm9v7527hqlgo8</string>
	<key>API_KEY</key>
	<string>AIzaSyDwxsHv6ruLWH8fwzod_qypG2Z6yKcSBN4</string>
	<key>GCM_SENDER_ID</key>
	<string>1083271446824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DDG.BodyLife4MobileApplication</string>
	<key>PROJECT_ID</key>
	<string>core-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>core-gym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083271446824:ios:bdee19e895de2a9888101d</string>
	<key>DATABASE_URL</key>
	<string>https://core-gym.firebaseio.com</string>
</dict>
</plist>